# Entorno virtual
env/
venv/
__pycache__/
*.pyc
*.pyo

# Base de datos local
*.sqlite3

# Archivos temporales
*.log
*.pot
*.pyc
*.pyo
*.db
*.DS_Store

# Config de VSCode
.vscode/

# Archivos de despliegue
railway.json
.env
